.cards{
  display: flex;
  justify-content: space-around;
  padding-bottom: 93px;
  width: 70%;
  margin: auto;
}
hr{
  height: 8px;
  background: #2acfcf;
  border: 1px solid #2acfcf;
  width: 60%;
  position: absolute;
  left: 19%;
  top: 53%;
}
.search-section{
  justify-content: center;
  display: flex;
  background: #f0f1f6;
  //width: 80%;
  padding: 40px;
}
.secondary-banner{
  background:  hsl(257, 27%, 26%) url("../../../assets/images/bg-boost-desktop.svg");
  height: 200px;
  display: flex;
  justify-content: center;
  p{
    color: #fff;
      font-size: 30px;
    text-transform: capitalize;
    font-weight: 800;  }
}
.middle-section{
  background-color: hsl(230, 25%, 95.29%);
  position: relative;
}
.advance-stats{
  text-align: center;
  padding: 30px;
  margin-bottom: 55px;
  /* width: 50%; */
  justify-content: center;
  p{
    margin: auto;
    width: 50%;
  }
}
